# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Virtual Environments
# =========================
venv/
env/
myenv/
.venv/
ENV/

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
.env.dev
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# IDEs
# =========================
# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
uploads/

# =========================
# Type Checking
# =========================
.mypy_cache/
.pyre/
.pytype/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# AI / ML
# =========================
*.h5
*.pt
*.pth
*.onnx
models/
checkpoints/